.container{
    min-height: 80vh;
}

.title{
    text-transform: uppercase;
    color: aliceblue;

}

.title span{
    color: greenyellow;
    margin-right: 10px;
}

.title::after{
    border: 2px solid white;
}