.container {
  height: 100%;
  
}

table{
  background-color: whitesmoke;
  padding: 10px;
  position: relative;
  text-align: center;
  border-radius: 1%;
  border: 1px solid black;
}
table th

table td {
  padding: 2px;
  color: black;
  border: 1px solid gainsboro;
}

